.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
patient.egg-info
htmlcov
log
site
src/patient/**/__pycache__
src/patient/service/*_test.py
src/patient/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
patienten-*.xlsx
report.html
sonar-*
