.venv

__pycache__/
.pytest_cache
.ruff_cache
.scannerwork
.vscode
assets
build/
dist
docs/build
docs/diagramme/out
extras/**/__pycache__
htmlcov
log
site
src/patient/**/__pycache__
src/patient/patient.egg-info
tests/**/__pycache__

.coverage
report.html
*.xlsx
dependency-check-report.html

# Sensible Daten
.env
sonar-project.properties
extras/compose/db/postgres/db_password.txt
src/patient/config/resources/tls/private-key.pem
